.card{
    font-size: 20px;
    margin: 10px;
}
.card-img-top{
    width: 18rem;
    height: 15rem;
}
.card-body{
    justify-self: flex-end;
}
.detalle{
    font-size: 1rem;
    border-radius: 25px;
    border: 2px solid black;
}

.detalle:hover{
    border: 3px solid cyan;
    transition: all 250ms ease-out;
}